imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }
    - { resource: bundles/gos_web_socket.yml }
    - { resource: bundles/vich_uploader.yml }
    - { resource: bundles/scheb_two_factor.yml }
    - { resource: bundles/translation.yml }
    - { resource: "@MainBundle/Resources/config/services.yml" }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: en
    managed_locales:
        - en
        - de
    show_tracking_code: false

framework:
    #esi:             ~
    translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    serializer:      { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        handler_id: session.handler.redis
    fragments:       ~
    http_method_override: true
    assets: ~

assetic:
    debug:          '%kernel.debug%'
    use_controller: '%kernel.debug%'
    filters:
        cssrewrite: ~
    bundles: [ AppBundle ]

# Twig Configuration
twig:
    debug: "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    form_themes:
        - 'VichUploaderBundle:Form:fields.html.twig'

# Doctrine Configuration
doctrine:
    dbal:
        driver: pdo_mysql
        host: "%database_host%"
        port: "%database_port%"
        dbname: "%database_name%"
        user: "%database_user%"
        password: "%database_password%"
        charset: utf8mb4
        default_table_options:
            charset: utf8mb4
            collate: utf8mb4_unicode_ci
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.root_dir%/data/data.db3"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #     path:     "%database_path%"

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true
        filters:
            softdeleteable:
                class: Gedmo\SoftDeleteable\Filter\SoftDeleteableFilter
                enabled: true
        dql:
            string_functions:
                field: DoctrineExtensions\Query\Mysql\Field

doctrine_cache:
    providers:
        redis_cache:
            redis:
                host: "%redis_host%"
                port: 6379
                database: 3
        websocket_cache_client:
            type: redis
            alias: gos_web_socket.client_storage.driver.redis

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host: "%mailer_host%"
    port: "%mailer_port%"
    username: "%mailer_user%"
    password: "%mailer_password%"
    spool: { type: automailer }

# SNC Redis
snc_redis:
    clients:
        default:
            type: predis
            alias: default
            dsn: 'redis://%redis_host%'
            options:
                read_write_timeout: 0
                connection_timeout: 30
                connection_persistent: false
    session:
        client: default
        prefix: "%router.request_context.host%_ses"

# Lexik JWT Authentication Configuration
lexik_jwt_authentication:
    private_key_path: "%jwt_private_key_path%"
    public_key_path: "%jwt_public_key_path%"
    pass_phrase: "%jwt_key_pass_phrase%"
    token_ttl: "%jwt_token_ttl%"
    user_identity_field: email

# Bazinga JS translation
bazinga_js_translation:
    locale_fallback: "%locale%"
    default_domain: messages
    active_locales: '%managed_locales%'
