# Default values for all environments
# Specific environment values will be set in each config_%env%.yml
parameters:
    #database
    database_host: 127.0.0.1
    database_port: ~
    database_user: root

    #mailer
    mailer_transport: smtp
    mailer_host: smtp.mailgun.org
    mailer_port: 587
    mailer_user: postmaster@mg1.campr.biz
    mailer_password: e3f99cbf22bdd48ed16c5d41a2675bfa
    default.delivery_address: 'campr-dev@trisoft.ro'

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    domain: dev.campr.biz

    redis_host: localhost

    #jwt
    jwt_private_key_path: %kernel.root_dir%/var/jwt/private.pem
    jwt_public_key_path: %kernel.root_dir%/var/jwt/public.pem
    jwt_key_pass_phrase: 'campr'
    jwt_token_ttl: 86400
    jwt_token_refresh_ttl: 2592000
    jwt_token_refresh_ttl_update: true

    #paginator
    admin.per_page: 10
    front.per_page: 12
    front.users_per_page: 20

    #misc
    router.request_context.scheme: http
    activation_token_expiration: P1D
    activation_token_expiration_number: 1
    reset_token_expiration: P1D
    reset_token_expiration_number: 1

    #paths
    uploads.root_folder: '%kernel.root_dir%/../../web/uploads'
    media_upload_folder: '%uploads.root_folder%/media'
    main.team.images_path: '%uploads.root_folder%/teams'
    main.team.uri_prefix: /uploads/teams
    main.project.images_path: '%uploads.root_folder%/projects'
    main.project.uri_prefix: /uploads/projects
    app.user.avatars_path: '%uploads.root_folder%/avatars'
    app.user.uri_prefix: /uploads/avatars
    tests_import_folder: '%kernel.root_dir%/../../web/tests/import'
    media_upload_folder_test: '%kernel.root_dir%/../../web/uploads/tests'

    jms_serializer.camel_case_naming_strategy.class: JMS\Serializer\Naming\IdenticalPropertyNamingStrategy

    app.pdf.google_chrome: '/usr/bin/xvfb-run /usr/bin/google-chrome'
    app.pdf.google_chrome_arguments: '--webkit-print-color-adjust --headless --disable-gpu --start-fullscreen --no-sandbox --print-to-pdf="%%file%%" "%%url%%"'
    app.pdf.service_url: 'http://localhost:3000/'

    app.token_duration: 5

    app.team.retention_period: P1M
