imports:
    - { resource: services/forms.yml }
    - { resource: services/repositories.yml }
    - { resource: services/twig.yml }
    - { resource: services/listeners.yml }
    - { resource: services/serializer.yml }
    - { resource: services/mailer.yml }
    - { resource: services/auth.yml }
    - { resource: services/validators.yml }

parameters:
    adapters:
        placeholder.driver.local: "local_adapter"

services:
    app.service.base_client:
        abstract: true
        arguments:
            - "@request_stack"
            - "%domain%"

    app.service.team:
        class: AppBundle\Services\TeamService
        parent: app.service.base_client
        arguments: ["@redis.client"]

    app.service.user:
        class: AppBundle\Services\UserService
        parent: app.service.base_client
        arguments: ["@doctrine.orm.entity_manager", "@security.password_encoder", "@router"]

    app.service.request_parser:
        class: AppBundle\Services\RequestParserService

    app.service.data_table:
        class: AppBundle\Services\DataTableService
        arguments:
            - "@doctrine.orm.entity_manager"
            - "@app.service.request_parser"
            - "@jms_serializer"
            - "@fos_js_routing.encoder"
            - "@fos_js_routing.normalizer"

    app.service.import:
        class: AppBundle\Services\ImportService
        arguments:
            - "@doctrine.orm.entity_manager"
            - "@validator"

    app.service.export:
            class: AppBundle\Services\ExportService

    app.service.chat:
        class: AppBundle\Services\ChatService
        arguments:
            - "@doctrine.orm.entity_manager"

    app.service.calendar:
        class: AppBundle\Services\CalendarService
        arguments:
            - "@doctrine.orm.entity_manager"

    app.service.rasci_matrix:
        class: AppBundle\Services\RasciMatrixService
        arguments:
            - "@doctrine.orm.entity_manager"
            - "@jms_serializer"

    redis.client:
        class: Predis\Client
        arguments:
            -
                host: '%redis_host%'

    session.handler.redis:
        class: Snc\RedisBundle\Session\Storage\Handler\RedisSessionHandler
        arguments:
            - '@redis.client'

    app.service.filesystem:
        class: AppBundle\Services\FileSystemService
        arguments:
            - "@knp_gaufrette.filesystem_map"

    app.service.chat_topic:
        class: AppBundle\Topic\ChatTopic
        arguments:
            - "@app.service.chat"
            - "@gos_web_socket.websocket.client_manipulator"
            - "@doctrine.orm.entity_manager"
        tags:
            - { name: gos_web_socket.topic }

    app.service.chat_user_topic:
        class: AppBundle\Topic\ChatUserTopic
        arguments:
            - "@app.service.chat"
            - "@gos_web_socket.websocket.client_manipulator"
            - "@doctrine.orm.entity_manager"
        tags:
            - { name: gos_web_socket.topic }

    app.service.pdf:
        class: AppBundle\Services\PDF
        arguments:
            - '@request_stack'
            - '@security.token_storage'
            - '%app.pdf.google_chrome%'
            - '%app.pdf.google_chrome_arguments%'
            - '%app.pdf.service_url%'

    app.service.wbs:
        class: AppBundle\Services\WBSService
        arguments:
            - '@doctrine.orm.default_entity_manager'

    app.service.project_organization_tree:
        class: AppBundle\Services\ProjectOrganizationTreeService
        arguments:
            - '@translator'

    app.calculator.phase_actual_dates:
        class: Component\WorkPackage\Calculator\PhaseActualDatesCalculator
        arguments:
            - '@app.repository.work_package'

    app.calculator.project_scheduled_dates:
        class: Component\Project\Calculator\ProjectScheduledDatesCalculator
        arguments:
            - '@app.repository.work_package'

    app.calculator.project_forecast_dates:
        class: Component\Project\Calculator\ProjectForecastDatesCalculator
        arguments:
            - '@app.repository.work_package'

    app.calculator.project_actual_dates:
        class: Component\Project\Calculator\ProjectActualDatesCalculator
        arguments:
            - '@app.repository.work_package'

    app.calculator.project_progress:
        class: Component\Project\Calculator\ProjectProgressCalculator
        arguments:
            - '@app.repository.work_package'

    app.calculator.project_total_cost:
        class: Component\Cost\Calculator\ProjectTotalCostCalculator
        arguments:
            - '@app.repository.work_package'
            - '@app.repository.cost'

    app.calculator.project_workpackage_status_total_count:
        class: Component\Project\Calculator\WorkPackageStatusTotalCountCalculator
        arguments:
            - '@app.repository.work_package'

    app.calculator.project_workpackage_traffic_light_total:
        class: Component\Project\Calculator\WorkPackageTrafficLightTotalCalculator
        arguments:
            - '@app.repository.work_package'

    app.calculator.project_risk_total:
        class: Component\Project\Calculator\RiskTotalCalculator
        arguments:
            - '@app.repository.risk'
            - '@app.repository.measure'

    app.calculator.project_opportunity_total:
        class: Component\Project\Calculator\OpportunityTotalCalculator
        arguments:
            - '@app.repository.opportunity'
            - '@app.repository.measure'

    app.formatter.money:
        class: AppBundle\Formatter\MoneyFormatter

    app.templating.helper.format_money:
        class: AppBundle\Templating\Helper\FormatMoneyHelper
        public: false
        arguments:
            - '@app.formatter.money'

    app.service.workpackage_rasci_sync:
        class: AppBundle\Services\WorkPackageRasciSync
        arguments:
             - '@app.repository.rasci'
             - '@app.repository.project_user'

    app.service.rasci_workpackage_sync:
        class: AppBundle\Services\RasciWorkPackageSync
        arguments:
             - '@app.repository.work_package'
             - '@app.repository.rasci'

    app.fs.resolver:
        class: AppBundle\Services\FileSystemResolver
        arguments:
            - '@app.repository.filesytem'

    app.graph.generator.project_cost_by_phase:
        class: Component\Cost\Graph\CostByPhaseGraphDataGenerator
        arguments:
            - '@app.repository.cost'
            - '@app.repository.work_package'

    app.graph.generator.project_cost_by_department:
        class: Component\Cost\Graph\CostByDepartmentGraphDataGenerator
        arguments:
            - '@app.repository.cost'
            - '@app.repository.work_package'
            - '@app.repository.project_user'

    app.graph.generator.status_report_project_traffic_light:
        class: Component\StatusReport\Graph\ProjectTrafficLightTrendGraphDataGenerator

    app.resolver.user_uploaded_avatar_url:
        class: Component\User\UserUploadedAvatarUrlResolver
        arguments:
            - '@vich_uploader.storage'
            - '@router'

    app.resolver.user_avatar_url:
        class: Component\User\UserAvatarUrlResolver
        arguments:
            - '@app.resolver.user_uploaded_avatar_url'
            - '%gravatar.base_url%'

### MENU BUILDER ###
    app.admin.menu.builder:
        class: AppBundle\Menu\MenuBuilder
        arguments:
            - "@router"
            - "@security.token_storage"
            - "@security.authorization_checker"
            - "@translator"
            - "@knp_menu.factory"
        tags:
            - { name: knp_menu.menu_builder, method: createAdminAppMenu, alias: admin_app }

### VOTERS ###
    app.admin_voter:
        class: AppBundle\Security\AdminVoter
        tags:
            - { name: security.voter, priority: 255 }
        public: false

    app.calendar_voter:
        class: AppBundle\Security\CalendarVoter
        arguments:
            - '@doctrine.orm.entity_manager'
        tags:
            - { name: security.voter }
        public: false

    app.distribution_list_voter:
        class: AppBundle\Security\DistributionListVoter
        tags:
            - { name: security.voter }
        public: false

    app.meeting_voter:
        class: AppBundle\Security\MeetingVoter
        tags:
            - { name: security.voter }
        public: false

    app.workpackage_voter:
        class: AppBundle\Security\WorkPackageVoter
        arguments:
            - '@doctrine.orm.entity_manager'
        tags:
            - { name: security.voter }
        public: false

    app.project_voter:
        class: AppBundle\Security\ProjectVoter
        arguments:
            - '@doctrine.orm.entity_manager'
        tags:
            - { name: security.voter }
        public: false

### ROUTING ###
    app.routing.loader:
        class: AppBundle\Routing\Loader
        public: false
        arguments:
            - '@file_locator'
            - '@sensio_framework_extra.routing.loader.annot_class'
            - '%kernel.team_slug%'
            - '%kernel.environment%'
        tags:
            - { name: routing.loader }

### SNAPSHOT ###
    app.snapshot.transformer.date:
        class: Component\Snapshot\Transformer\DateTransformer

    app.snapshot.transformer.costs:
        class: Component\Snapshot\Transformer\CostsTransformer
        arguments:
            - '@app.graph.generator.project_cost_by_department'
            - '@app.graph.generator.project_cost_by_phase'
            - '@app.calculator.project_total_cost'

    app.snapshot.transformer.tasks:
        class: Component\Snapshot\Transformer\TasksTransformer
        arguments:
            - '@app.calculator.project_progress'
            - '@app.calculator.project_workpackage_status_total_count'
            - '@app.calculator.project_workpackage_traffic_light_total'

    app.snapshot.transformer.risks:
        class: Component\Snapshot\Transformer\RisksTransformer
        arguments:
            - '@app.calculator.project_risk_total'
            - '@app.snapshot.transformer.date'
            - '@app.repository.risk'

    app.snapshot.transformer.opportunities:
        class: Component\Snapshot\Transformer\OpportunitiesTransformer
        arguments:
            - '@app.calculator.project_opportunity_total'
            - '@app.snapshot.transformer.date'
            - '@app.repository.opportunity'

    app.snapshot.transformer.todos:
        class: Component\Snapshot\Transformer\TodosTransformer
        arguments:
            - '@app.snapshot.transformer.date'

    app.snapshot.transformer.decisions:
        class: Component\Snapshot\Transformer\DecisionsTransformer
        arguments:
            - '@app.snapshot.transformer.date'

    app.snapshot.transformer.project:
        class: Component\Snapshot\Transformer\ProjectTransformer
        arguments:
            - '@app.snapshot.transformer.date'
            - '@app.calculator.project_scheduled_dates'
            - '@app.calculator.project_forecast_dates'
            - '@app.calculator.project_actual_dates'
            - '@app.snapshot.transformer.tasks'
            - '@app.snapshot.transformer.costs'
            - '@app.snapshot.transformer.risks'
            - '@app.snapshot.transformer.opportunities'
            - '@app.snapshot.transformer.todos'
            - '@app.snapshot.transformer.decisions'

    app.snapshot.factory.project:
        class: Component\Snapshot\ProjectSnapshotFactory
        arguments:
          - '@app.snapshot.transformer.project'
