/backend/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!var/SymfonyRequirements.php
/backend/vendor/
/web/bundles/
/web/uploads/
/web/static/
.idea
.vagrant
/web/assets/admin/vendors/bower_components/
.DS_Store
/frontend/node_modules
/backend/app/config/parameters_test.yml
/backend/src/AppBundle/Resources/views/Default/index.html.twig
/backend/src/AppBundle/Tests/Resources/
/backend/src/AppBundle/Resources/docs/cache/
/backend/src/AppBundle/Resources/docs/build/
/frontend/static/js/
/web/js/
/web/app_dev.php
/frontend/config/dev.local.js
docker-compose.yml
.history/
npm-debug.log
/config/docker/.env

ssr/.nuxt
ssr/node_modules

ssr/package-lock.json
