/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!var/SymfonyRequirements.php
/backend/vendor/
/web/bundles/
/web/uploads/
/web/static/
.idea
Vagrantfile
.vagrant
/web/assets/admin/vendors/bower_components/
.DS_Store
/frontend/node_modules
/app/config/parameters_test.yml
/src/AppBundle/Resources/views/Default/index.html.twig
/src/AppBundle/Tests/Resources/
/src/AppBundle/Resources/docs/cache/
/src/AppBundle/Resources/docs/build/
/frontend/static/js/
/web/js/
/web/app_dev.php
