version: "3"

services:
  mailcatcher:
    container_name: campr_mailcatcher
    env_file: ./config/docker/.env
    image: schickling/mailcatcher
    ports:
      - "1025:1025"
      - "1080:1080"

  mysql:
    container_name: campr_mysql
    env_file: ./config/docker/.env
    image: mysql:5.7
    volumes:
      - campr-data:/var/lib/mysql
    ports:
      - "3306:3306"

  redis:
    container_name: campr_redis
    env_file: ./config/docker/.env
    image: redis
    ports:
      - "6379:6379"

volumes:
    campr-data:
