version: "3"

services:
    mailcatcher:
        container_name: campr_mailcatcher
        image: schickling/mailcatcher
        ports:
          - "1025:1025"
          - "1080:1080"
        env_file: config/docker/.env

    mysql:
        image: mysql:5.7
        volumes:
            - campr-data:/var/lib/mysql
        ports:
            - "3306:3306"
        env_file: config/docker/.env

    redis:
        container_name: campr_redis
        image: redis
        env_file: config/docker/.env

    app:
        container_name: campr_app
        build: config/docker/app
        links:
            - mysql
            - redis
            - mailcatcher
        volumes:
            - .:/app
            - ~/.ssh:/root/.ssh
            - ~/.gitconfig:/root/.gitconfig
            - ./config/supervisor/docker_dev.conf:/etc/supervisor/conf.d/docker_dev.conf
        shm_size: 1g
        ports:
            - "80:80"
            - "8080:8080"
            - "443:443"
        env_file: config/docker/.env

volumes:
    campr-data:
