version: "2"

volumes:
    db-data:
        external: false

services:
    mailcatcher:
        image: dilibau/mailcatcher:0.6.4
        ports:
            - 1080:1080
    db:
        image: mysql:5.7
        environment:
            - MYSQL_ROOT_PASSWORD=root
        volumes:
            - db-data:/var/lib/mysql
            - ./config/docker/mysql/docker.cnf:/etc/mysql/conf.d/docker.cnf
    redis:
        image: redis
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        depends_on:
            - db
        ports:
            - 8080:80
        environment:
            - MYSQL_ROOT_PASSWORD=root
    php-fpm:
#        build: config/docker/php-fpm
        image: lab.trisoft.ro:4567/trisoft/internal/php-fpm-7.1
        environment:
            - SYMFONY_DEBUG=true
            - SYMFONY_ENV=dev
        depends_on:
            - db
            - redis
            - mailcatcher
        volumes:
            - .:/app
        ports:
            - 2080:8080
    dev.campr.biz:
        image: nginx:1.11.10
        depends_on:
            - php-fpm
        volumes:
            - .:/app
            - ./config/docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        ports:
            - 80:80
    supervisor:
#        build: config/docker/supervisor
        image: lab.trisoft.ro:4567/trisoft/internal/php-supervisor
        ports:
            - 3000:3000
        volumes:
            - .:/app
            - ./config/supervisor/docker_dev.conf:/etc/supervisor/conf.d/docker_dev.conf
