version: "3"

services:
    app:
        container_name: campr_app
        build: config/docker/app
        links:
            - mysql
            - redis
            - mailcatcher
        volumes:
            - campr-app:/app
            - ~/.ssh:/home/application/.ssh
            - ~/.gitconfig:/home/application/.gitconfig
            - ./config/supervisor/docker_dev.conf:/etc/supervisor/conf.d/docker_dev.conf
        shm_size: 1g
        ports:
            - "80:80"
            - "8080:8080"
            - "443:443"
            - "3000:3000"
        env_file: config/docker/.env
        extra_hosts:
            - "dev.campr.biz:127.0.0.1"

    mailcatcher:
        container_name: campr_mailcatcher
        image: schickling/mailcatcher
        ports:
          - "1025:1025"
          - "1080:1080"
        env_file: config/docker/.env

    mysql:
        image: mysql:5.7
        volumes:
            - campr-data:/var/lib/mysql
            - ./config/docker/mysql/docker.cnf:/etc/mysql/conf.d/docker.cnf
        ports:
            - "3306:3306"
        env_file: config/docker/.env

    redis:
        container_name: campr_redis
        image: redis
        env_file: config/docker/.env

volumes:
    campr-app:
        driver: local
        driver_opts:
            type: nfs
            o: addr=host.docker.internal,rw,nolock,hard,nointr,noacl,nodiratime,async,noatime,actimeo=3,nfsvers=3
            device: ":/path/to/your/project"
    campr-data:
