@import '../_variables.scss';

.box {
  background: $darkColor;
  padding: 20px;
  color: $lighterColor;
  width: 394px;
  letter-spacing: 1px;
  height: 189px;
  margin: 0 12.5px 30px;

  .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $mainColor;
    padding-bottom: 13px;
    height: 36px;

    h2 {
      margin: 2px 0 0 0;
      font-size: 12px;
      text-transform: uppercase;
    }

    .eye {
      margin-right: 5px;
      height: 16px;
    }
  }

  .content {
    display: flex;
    height: 92px;
    justify-content: space-between;
  }
}

.progress-area {
  padding-top: 47px;
  width: 60px;
  letter-spacing: 0.7px;

  .title {
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .percentage {
    color: $middleColor;
    margin-top: 2px;
    display: flex;
  }

  .number {
    color: $lighterColor;
    font-size: 32px;
    height: 30px;
    line-height: 35px;
    min-width: 55px;
    text-align: right;
    font-weight: 700;
  }

  .percentage-sign {
    align-self: flex-end;
  }
}

.progress-bar {
  margin-top: 13px;
  width: 100%;
  height: 8px;
  background: $mainColor;

  .filled {
    width: 0;
    background: $middleColor;
    height: 100%;

    &.finished {
      background: $secondColor;
    }
  }
}
