services:
    app.repository.work_package:
        class: AppBundle\Repository\WorkPackageRepository
        arguments: ~
        tags:
            - { name: app.repository, class: AppBundle\Entity\WorkPackage }

    app.repository.work_package_status:
        class: AppBundle\Repository\WorkPackageStatusRepository
        arguments: ~
        tags:
            - { name: app.repository, class: AppBundle\Entity\WorkPackageStatus }

    app.repository.rasci:
        class: AppBundle\Repository\RasciRepository
        arguments: ~
        tags:
            - { name: app.repository, class: AppBundle\Entity\Rasci }

    app.repository.project_user:
        class: AppBundle\Repository\ProjectUserRepository
        arguments: ~
        tags:
            - { name: app.repository, class: AppBundle\Entity\ProjectUser }

    app.repository.team:
        class: AppBundle\Repository\TeamRepository
        arguments: ~
        tags:
            - { name: app.repository, class: AppBundle\Entity\Team }

    app.repository.currency:
        class: AppBundle\Repository\CurrencyRepository
        arguments: ~
        tags:
            - { name: app.repository, class: AppBundle\Entity\Currency }

    app.repository.risk:
        class: AppBundle\Repository\RiskRepository
        arguments: ~
        tags:
            - { name: app.repository, class: AppBundle\Entity\Risk }

    app.repository.opportunity:
        class: AppBundle\Repository\OpportunityRepository
        arguments: ~
        tags:
            - { name: app.repository, class: AppBundle\Entity\Opportunity }

    app.repository.measure:
        class: AppBundle\Repository\MeasureRepository
        arguments: ~
        tags:
            - { name: app.repository, class: AppBundle\Entity\Measure }

    app.repository.filesytem:
        class: AppBundle\Repository\FileSystemRepository
        arguments: ~
        tags:
            - { name: app.repository, class: AppBundle\Entity\FileSystem }

    app.repository.media:
        class: AppBundle\Repository\MediaRepository
        arguments: ~
        tags:
            - { name: app.repository, class: AppBundle\Entity\Media }

    app.repository.project:
        class: AppBundle\Repository\ProjectRepository
        arguments: ~
        tags:
            - { name: app.repository, class: AppBundle\Entity\Project }

    app.repository.cost:
        class: AppBundle\Repository\CostRepository
        arguments: ~
        tags:
            - { name: app.repository, class: AppBundle\Entity\Cost }

    app.repository.status_report:
        class: AppBundle\Repository\StatusReportRepository
        arguments: ~
        tags:
            - { name: app.repository, class: AppBundle\Entity\StatusReport }
