{% extends 'MainBundle:Email:base.html.twig' %}

{% trans_default_domain 'messages' %}

{% block subject %}{{ meeting.name|trans }} - {{ meeting.date|date('d.m.Y') }}{% endblock %}

{% block message %}
    <p>{{ report.content|raw }}</p>
{% endblock %}
