@import '_variables';

.flex {
  display: flex !important;
}

.flex-row {
  flex-flow: row wrap;
}

.flex-center {
  justify-content: center;
}

.flex-v-center {
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-direction-reverse {
  flex-direction: row-reverse;
}

.flex-end {
  align-self: flex-end;
}

.uppercase {
  text-transform: uppercase;
}

.relative {
  position: relative;
}

.bullets {
  list-style-type: disc;
  margin-left: 15px;
}

.icon {
  fill: $middleColor;

  &.active {
    fill: $secondColor;
  }
}

h2 {
  font-weight: 300;
}

.input-holder {
  position: relative;
}

input[type=text], textarea {
  background: $darkColor;
  width: 100%;
  border: none;
  padding: 12px 20px;
  color: $lightColor;
  margin-bottom: 20px;
}

textarea {
  min-height: 100px;
  resize: none;
}

.input-holder label {
  font-weight: 300;
  text-transform: uppercase;
  cursor: text;
  position: absolute;
  left: 20px;
  top: 14px;
  color: $lightColor;
  font-size: 11px;
  display: inline-block;
  transition: color 0.3s, top 0.2s, font-size 0.2s;

  &.active{
    top: -15px;
    left: 20px;
    font-style: oblique;
    font-size: 0.8em;
  }
}

.btn-rounded {
  background: $middleColor;
  text-transform: uppercase;
  text-align: center;
  height: 40px;
  padding: 0 34px;
  line-height: 40px;
  font-size: 11px;
  border-radius: 20px;
  display: inline-block;
  width: 200px;
  letter-spacing: 1.2px;
  font-weight: 300;
}

.btn-auto {
  width: auto;
}

.btn-md {
  height: 30px;
  line-height: 30px;
  padding: 0 14px;
  font-size: 8px;
}

.btn-empty {
  background: transparent;
  border: 1px solid $middleColor;
}

.datetime-picker {
  &.red input {
    background: $dangerColor;
    color: $lighterColor;
  }

  input {
    background: $darkColor;
    color: $lightColor;
    height: 40px !important;
    border: none !important;
    padding: 5px 20px !important;
  }
}

.datetime-picker .picker-wrap {
  border: 1px solid $fadeColor !important;
  box-shadow: none !important;
}

.datetime-picker .date-head {
  background-color: $mainColor !important;
}

.datetime-picker .date-days {
  color: $mainColor !important;
}

.hr {
  height: 1px;
  background: $darkColor;
}

.checkbox-input {

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox] + label:before {
    content: '';
    width: 20px;
    height: 20px;
    background: $middleColor;
    display: block;
    float: left;
    margin-right: 10px;
    cursor: pointer;
  }

  input[type=checkbox]:checked + label:before {
    //content: '\2713';
    content: '';
    text-align: center;
    background: $secondColor;
    border: none;
    line-height: 20px;
    font-size: 16px;
    color: $darkColor;
    font-weight: 700;
  }

  label {
    float: left;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 1.7px;
  }
}

.pagination {
  display: flex;

  span {
    background: $middleColor;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;

    &.active {
      background: $secondColor;
    }
  }
}

.vue-switcher-theme--default.vue-switcher-color--default div:after {
  background-color: $dangerColor !important;
  height: 22px;
  width: 22px;
  margin-left: -27px;
  top: 4px;
}

.vue-switcher--unchecked div:after {
  left: 22px !important;
  margin-left: -17px !important;
}

.vue-switcher-theme--default.vue-switcher-color--default.vue-switcher--unchecked div:after {
  background-color: $secondColor !important;
}

.vue-switcher-theme--default.vue-switcher-color--default div {
  background-color: $darkColor !important;
  height: 30px;
  width: 60px;
}

.vue-scrollbar__wrapper {
  background: none;
  padding-bottom: 20px;
}

.vue-scrollbar__scrollbar-horizontal {
  background: $darkColor !important;
  height: 30px !important;
  padding: 0 20px;

  &:before, &:after {
    cursor: pointer;
    font-family: 'FontAwesome';
    top: 3px;
    font-size: 18px;
    position: absolute;
  }

  &:before {
    content: '\f104';
    left: 7px;
  }

  &:after {
    content: '\f105';
    right: 7px;
  }
}

.vue-scrollbar__scrollbar-vertical {
  background: $darkColor !important;
  padding: 30px 2px;
  width: 14px !important;

  &:before, &:after {
    cursor: pointer;
    font-family: 'FontAwesome';
    font-size: 18px;
    position: absolute;
  }

  &:before {
    content: '\f106';
    top: 7px;
    left: 1px;
  }

  &:after {
    content: '\f107';
    bottom: 7px;
    left: 1px;
  }
}

.vue-scrollbar__scrollbar-horizontal .scrollbar {
  background: $middleColor !important;
  border-radius: 10px !important;
  top: 10px !important;
  height: 10px !important;
}

.vue-scrollbar__scrollbar-vertical .scrollbar {
  background: $middleColor !important;
  border-radius: 10px !important;
  width: 10px !important;
}

.datetime-picker {
  width: 100% !important;
  box-sizing: border-box;
}

.datetime-picker + .calendar-icon {
  position: absolute;
  right: 15px;
  top: 4px;
}