@import '_variables.scss';
@import '_mixins.scss';

.task-range-slider {
  margin: 10px 0;
  height: 45px;
  position: relative;

  .irs-min, .irs-max, .irs-from, .irs-to, .irs-single {
    display: none !important;
    visibility: hidden !important;
  }

  .task-range-slider-title {
    text-transform: uppercase;
    color: $lightColor;
    position: relative;
    font-size: 9px;
    letter-spacing: 1.9px;
  }

  .task-slider-holder {
    position: absolute;
    width: 100%;
    height: 20px;
    top: 20px;
    left: 0;

    .irs {
      height: 20px;
    }

    .irs-line {
      display: none;
    }

    .irs-bar {
      border: none !important;
      height: 8px;
      top: 0;
    }

    .irs-slider {
      border: none !important;
      font-size: 0 !important;
      width: 10px;
      height: 12px;
      top: 12px;
      -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZpZXdCb3g9IjAgMCAxMCAxMiI+ICAgIDxwYXRoIGQ9Ik01LDEyYzIuNywwLDQuNy0yLjIsNC43LTVDOS43LDMuNCw1LDAsNSwwUzAuMywzLjQsMC4zLDdDMC4zLDkuOCwyLjMsMTIsNSwxMnogTTUsNC43IGMxLjQsMCwyLjYsMS4yLDIuNiwyLjZjMCwxLjQtMS4yLDIuNi0yLjYsMi42Yy0xLjQsMC0yLjYtMS4yLTIuNi0yLjZDMi40LDUuOSwzLjYsNC43LDUsNC43eiIvPjwvc3ZnPg==);
      mask-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZpZXdCb3g9IjAgMCAxMCAxMiI+ICAgIDxwYXRoIGQ9Ik01LDEyYzIuNywwLDQuNy0yLjIsNC43LTVDOS43LDMuNCw1LDAsNSwwUzAuMywzLjQsMC4zLDdDMC4zLDkuOCwyLjMsMTIsNSwxMnogTTUsNC43IGMxLjQsMCwyLjYsMS4yLDIuNiwyLjZjMCwxLjQtMS4yLDIuNi0yLjYsMi42Yy0xLjQsMC0yLjYtMS4yLTIuNi0yLjZDMi40LDUuOSwzLjYsNC43LDUsNC43eiIvPjwvc3ZnPg==);
    }

    &.base {
      .irs-bar {
        background: $mainColor;
      }

      .irs-slider {
        background: $mainColor !important;
      }

      &.dark-range-slider {
        .irs-bar {
          background: $darkerColor !important;
        }

        .irs-slider {
          background: $darkerColor !important;
        }
      }
    }

    &.forecast {
      .irs-bar {
        background: $middleColor;
      }

      .irs-slider {
        background: $middleColor !important;
      }

      &.warning {
        .irs-bar {
          background: $warningColor !important;
        }

        .irs-slider {
          background: $warningColor !important;
        }
      }

      &.danger {
        .irs-bar {
          background: $dangerColor;
        }

        .irs-slider {
          background: $dangerColor !important;
        }
      }
    }

    &.actual {
      .irs-bar {
        background: $secondColor !important;
      }

      .irs-slider {
        background: $secondColor !important;
      }

      &.warning {
        .irs-bar {
          background: $warningColor !important;
        }

        .irs-slider {
          background: $warningColor !important;
        }
      }

      &.danger {
        .irs-bar {
          background: $dangerColor !important;
        }

        .irs-slider {
          background: $dangerColor !important;
        }
      }
    }

    .irs-bar-edge {
      display: none;
    }

    .slider-tooltip {
      position: absolute;
      text-align: right;
      right: 0;
      top: -22px;
    }
  }

  &.big-range-slider {
    margin-left: -5px;
    margin-right: -5px;

    .irs-bar {
      height: 16px;
    }

    .irs-slider {
      display: none;
    }

    .irs-bar-edge {
      display: block;
    }
  }

  .range {
    display: none;
  }
}

.task-schedule-bar {
  &.overall-tooltip {
    max-width: none;
    padding: 0;
    display: inline-block;

    table {
      width: 440px;
      thead {
        tr {
          th {
            height: 4em;
            padding: 0 3em;
          }
        }
      }
    }

    .tooltip-content {
      background-color: $mainColor;
      @include box-shadow(0, 0, 20px, rgba($blackColor, 0.5));
      color: $lighterColor;
      padding: 5px 0;
      text-align: left;
    }

    &.tooltip-target-attached-top {
      &:after {
        border-color: transparent transparent $mainColor transparent;
        top: -7px;
        border-width: 0 12px 12px 12px;
      }
    }

    &.tooltip-target-attached-bottom {
      &:after {
        border-color: transparent transparent $mainColor transparent;
        top: -7px;
        border-width: 0 12px 12px 12px;
      }
    }
  }
}
