$mainColor: #232D4B;
$fadeColor: #2E3D60;
$semiDarkColor: #1E2643;
$darkColor: #191E37;
$darkerColor: #111526;
$middleColor: #646EA0;
$lightColor: #8794C4;
$lighterColor: #D8DAE5;
$secondColor: #5FC3A5;
$secondDarkColor: #197252;
$warningColor: #CCBA54;
$dangerColor: #C87369;
$dangerDarkColor: #C64444;
$whiteColor: #ffffff;
$grayColor: #5a5a5a;
$blackColor: #000000;

$additionalColor1: #E2C94D;
$additionalColor2: #E04FCC;
$additionalColor3: #50C9DD;
$additionalColor4: #5EDD50;
$additionalColor5: #D87F52;

$responsibleColor: #c87369;
$accountableColor: #5fc3a5;
$supportColor: #9d61c1;
$consultedColor: #538dd3;
$informedColor: #c1b861;

$trafficLightRed: $dangerColor;
$trafficLightYellow: $warningColor;
$trafficLightGreen: $secondColor;

$datePickerGreen: #009688;
$datePickerDarkGreen: #00877a;
