@import '_variables.scss';

.filters {
  display: flex;
  align-items: center;

  @media screen and (max-width: 1440px) {
    margin-bottom: 20px;
  }
  @media screen and (max-width: 1024px) {
    display: block;
  }

  .dropdowns {
    display: flex;

    @media screen and (max-width: 1024px) {
      margin-left: 0;
    }
  }

  .dropdown,
  .title,
  .input-holder,
  .search {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  .dropdown {
    min-width: 200px;
  }

  .title {
    text-transform: uppercase;
    font-size: 11px;
  }
}
