@import '_variables.scss';

.page-section {
  padding-bottom: 20px;

  &.projects, &.tasks {
    .header {
      @media screen and (max-width: 1440px) {
        display: block;
      }
    }
  }

  .header {
    display: flex;
    justify-content: space-between;

    h1, h2 {
      margin: 0;
      text-transform: uppercase;
      font-size: 20px;
      padding: 30px 0;
    }

    h1 {
      font-weight: 300;
      letter-spacing: 2.2px;
    }

    h2 {
      font-size: 16px;
    }

    .small-link {
        margin: 20px 0 0;
    }

    .small-link + h1 {
        padding: 10px 0 30px;
    }

    .full-filters {
      display: flex;
      align-items: center;
    }

    .separator {
      width: 1px;
      height: 40px;
      background: $darkColor;
      margin: 0 20px;

      @media screen and (max-width: 1440px) {
        margin-bottom: 20px;
      }

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }

  >.content {
    display: flex;
    flex-flow: row wrap;
  }

  &.view-phase,
  &.view-milestone {
    .header {
      .small-link+h1 {
        padding: 0;
      }

      .btn-rounded {
        margin-top: 10px;
      }
    }

    .phase-content,
    .milestone-content {
      padding: 10px 0;

      p {
        margin-bottom: 10px;
      }

      .table {
        td {
          padding-top: 25px;
          padding-bottom: 25px;
        }
      }
    }

    .responsible-status {
      h3 {
        margin-top: 0;
      }

      .user-info {
        img {
          width: 30px;
          height: 30px;
          border-radius: 15px;
          margin-right: 10px;
        }
      }

      .status {
        height: 30px;
        line-height: 30px;
      }
    }
  }
}
