@import '_variables';

#app.bg{
    background: url('../../assets/bg-1.jpg') repeat-y;

    .page {
        background: none !important;
    }
}

.project-create-wrapper {
    input[type=text] {
        margin-bottom: 0 !important;
    }

    .project-create {
        width: 536px;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        margin-top: 60px;
        letter-spacing: 2.3px;
        color: $secondColor;
        margin-bottom: 7px;
    }

    h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        margin-top: 0;
        letter-spacing: 2px;
        margin-bottom: 56px;
    }

    .actions {
        margin-bottom: 30px;
    }
}
