{% trans_default_domain 'main' %}

{% extends 'MainBundle::base.html.twig' %}

{% block body_content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <p class="text-primary">{{ 'main.account.payment.edit.title'|trans }}: {{ payment }}</p>
            </h1>
            <a href="{{ path('main_payment_list') }}" class="btn btn-sm btn-primary">{{ 'main.account.payment.back'|trans }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {# insert edit form form #}
        </div>
    </div>
{% endblock %}
