{% trans_default_domain 'messages' %}

<div class="form-group m-t-15">
    <div class="col-sm-offset-2 col-sm-4">
        <button class="btn bgm-blue btn-sm" type="submit">{{ 'button.create'|trans }}</button>
    </div>
</div>
