{% trans_default_domain 'messages' %}

<a href="{{ path(show_path, {'id': id}) }}">
    <button type="button" class="btn btn-icon waves-effect waves-circle bgm-teal" data-toggle="tooltip" data-placement="bottom" title="View">
        <i class="zmdi zmdi-zoom-in"></i>
    </button>
</a>
<a href="{{ path(edit_path, {'id': id}) }}">
    <button type="button" class="btn btn-icon waves-effect waves-circle bgm-blue" data-toggle="tooltip" data-placement="bottom" title="Edit">
        <i class="zmdi zmdi-edit"></i>
    </button>
</a>
<a href="{{ path(delete_path, {'id': id}) }}">
    <button type="button" class="btn btn-icon waves-effect waves-circle bgm-red" data-toggle="tooltip" data-placement="bottom" title="Delete">
        <i class="zmdi zmdi-delete"></i>
    </button>
</a>
