{% trans_default_domain 'messages' %}

<div class="form-group m-t-15 buttons">
    <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-sm bgm-blue" type="submit">
            <i class="zmdi zmdi-floppy"></i>
            {{ 'button.save_changes'|trans }}
        </button>
        <a class="btn btn-sm bgm-red" href="{{ path(delete_path, {'id': id}) }}">
            <i class="zmdi zmdi-delete"></i>
            {{ 'button.delete'|trans }}
        </a>
    </div>
</div>
