@import '../_variables';
@import '../_mixins';

.light-color {
    b {
        color: $lighterColor;
    }
}

.ro-grid-wrapper {
    margin-top: 30px;
}

.measure-vueditor-holder {
    .vueditor {
        margin-top: 0;
    }
}

input[type=number] {
    margin-bottom: 0 !important;
}
