@import '../_variables';
@import '../_mixins';

.range-slider-wrapper {
    position: relative;

    .slider-indicator {
        position: absolute;
        bottom: -18px;
        left: 0;
        width: 100%;
        height: 18px;
    }
}

.light-color {
    b {
        color: $lighterColor;
    }
}

.ro-grid-wrapper {
    margin-top: 30px;
}

.measure-vueditor-holder {
    .vueditor {
        margin-top: 0;
    }
}

input[type=number] {
    margin-bottom: 0 !important;
}
