.range-slider-wrapper {
    position: relative;

    .slider-indicator {
        position: absolute;
        bottom: -18px;
        left: 0;
        width: 100%;
        height: 18px;
    }
}

.light-color {
    b {
        color: $lighterColor;
    }
}

.ro-grid-wrapper {
    margin-top: 30px;
}

.ro-grid-header {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;

    .big-header {
        color: $lightColor;
        font-size: 0.875em;
    }

    .small-header {
        width: 25%;
        font-size: 0.75em;
        float: left;
        white-space: nowrap;
    }

    &.vertical-axis-header {
        @include rotate(-90);
        @include transform-origin(left top);
        top: calc(100% - 67px);
        width: calc(100% - 97px);

        .big-header {
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid $darkerColor;
        }
    }

    &.horizontal-axis-header {
        bottom: 0;
        padding: 0 30px 0 67px;

        .big-header {
            padding-top: 10px;
            margin-top: 10px;
            border-top: 1px solid $darkerColor;
        }
    }
}

.ro-grid {
    width: 100%;
    margin: 0 auto;
    padding: 0 30px 67px 67px;
    position: relative;
}

.ro-grid-item {
    width: 24%;
    height: 0;
    padding-bottom: 24%;
    @include border-radius(50%);
    margin: 0.5%;
    float: left;
    font-size: 3em;
    font-weight: bold;
    color: $mainColor;
    text-align: center;
    white-space: nowrap;
    position: relative;
    pointer-events: none;
    @include transition(all, 0.3s, ease);

    span {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: 30px;
        line-height: 35px;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -15px;
    }

    &.medium {
        background-color: $warningColor;
    }

    &.high {
        background-color: $dangerColor;
    }

    &.very-high {
        background-color: $dangerDarkColor;
    }

    &.low {
        background-color: $secondColor;
    }

    &.very-low {
        background-color: $secondDarkColor;
    }

    &.active {
        @include box-shadow(0, 0, 60px, $darkColor);
        z-index: 10;

        &:after {
            content: '';
            position: absolute;
            left: -5px;
            top: -5px;
            width: calc(100% + 10px);
            height: calc(100% + 10px);
            border: 10px solid $lighterColor;
            @include border-radius(50%);
            @include transition(all, 0.3s, ease);
        }
    }
}

.ro-summary {
    margin-top: 60px;
    padding-bottom: 30px;
    font-size: 1.333em;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    p {
        line-height: 1.5em;
        color: $lightColor;

        b {
            color: $lighterColor;
        }
    }

    .text-left {
        p {
            padding-left: 15px;
        }
    }
}    

.measure-vueditor-holder {
    .vueditor {
        margin-top: 0;
    }
}
