@import '../_variables';
@import '../_mixins';

.header-buttons {
    margin: 17px 0 0;
    text-align: right;

    a {
        margin-left: 10px;
    }
}  

.range-slider-wrapper {
    position: relative;

    .slider-indicator {
        position: absolute;
        bottom: -18px;
        left: 0;
        width: 100%;
        height: 18px;
    }
}

.light-color {
    b {
        color: $lighterColor;
    }
}

.ro-grid-wrapper {
    margin-top: 30px;
}

.measure-vueditor-holder {
    .vueditor {
        margin-top: 0;
    }
}

p {
    margin-bottom: 20px;
}

.comment {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 4px double $darkerColor;

    .comments {
        padding-left: 45px;

        .comment {
            margin: 30px 0 0;
            padding: 30px 0 0;
            border-top: 1px solid $darkerColor;
            border-bottom: none;
        }
    }

    .comment-buttons {
        text-align: right;

        .btn {
            margin: 10px 0 0 10px;
        }
    }

    .comment-body {
        padding: 10px 0 0 45px;

        ul {
            list-style-type: disc;

            &:last-child {
                margin-bottom: 0;
            }
        }

        ol {
            list-style-type: decimal;

            &:last-child {
                margin-bottom: 0;
            }
        }

        img {
            @include box-shadow(0, 0, 20px, $darkColor);
        }

        .title {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .cost {
            text-transform: uppercase;
            color: $lightColor;
            letter-spacing: 0.1em;

            b {
                color: $lighterColor;
            }
        }

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .comment-footer {
        padding: 30px 0 0 45px;

        .icon {
            display: inline-block;
            width: 16px;
            height: 16px;
            position: relative;
            top: 3px;
        }

        ul.comment-attachments {
            display: inline-block;
            margin: 0;
            list-style: none;
            padding: 0;

            li {
                display: inline;
                margin: 0 0 0 10px;
                padding: 0 0 0 10px;
                border-left: 1px solid $lighterColor;

                a {
                    color: $secondColor;
                    @include transition(color, 0.2s, ease);

                    &:hover {
                        color: $secondDarkColor;
                    }
                }

                &:first-child {
                    padding: 0;
                    border: none;
                }
            }
        }
    }
}

.new-comment {
    .footer-buttons {
        margin-top: 15px;
    }
}

.ro-details {
    .ro-info {
        border-right: 1px solid $darkerColor;
        padding: 0 30px;
        float: left;

        p {
            margin-bottom: 5px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            color: $lightColor;

            b {
                color: $lighterColor;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
            border-right: none;
        }
    }
}

.status-info {
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    .user-avatar {
        img {
            margin: 0 10px;
        }
    }
}
