{% trans_default_domain 'admin' %}

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button class="btn bgm-blue btn-sm" type="submit">{{ 'admin.general.form.button.create'|trans }}</button>
    </div>
</div>
