{% trans_default_domain 'admin' %}

<div class="form-group m-t-15">
    <div class="col-sm-offset-5 col-sm-10">
        <button class="btn bgm-blue btn-sm" type="submit">{{ 'admin.general.form.button.create'|trans }}</button>
    </div>
</div>
