{% extends 'MainBundle:Email:base.html.twig' %}
{% trans_default_domain 'messages' %}

{% block subject %}
    Change of task role.
{% endblock %}

{% block message %}
    SUBJECT: Change of task role.
    <p>Hello </p>
    <p> Your role for {{ task }} was changed to NOT RESPONSIBLE </p>
    <p> Workspace: {{ workspace }}</p>
    <p> Project: {{ project }}</p>
{% endblock %}
