{% extends 'MainBundle:Email:base.html.twig' %}
{% trans_default_domain 'messages' %}

{% block message %}
    <h2>Remove resposibility</h2>
    <p>Hello {{ username }}.</p>
    <p> Your role for {{ task }} is  no resposible </p>
    <p> Workspace: {{ workspace }}</p>
    <p> Project: {{ project }}</p>
{% endblock %}
