{% extends 'AppBundle:Layout:base.html.twig' %}

{% trans_default_domain 'messages' %}

{% block body_attributes -%}
    class="login"
{%- endblock %}

{% block body %}
    <div class="login-content">
        <div class="lc-block toggled" id="l-login">
            <div class="lcb-form">
                <h5>Looks like something went wrong. (error {{ code }})</h5>
                <p>{{ message }}</p>
                <p><a href="/">Click here to go back.</a></p>
            </div>
        </div>
    </div>
{% endblock %}
