{% extends 'AppBundle:Layout:base.html.twig' %}
{% trans_default_domain 'messages' %}

{% block body %}
    <div class="login-content">
        <div class="lc-block toggled" id="l-login">
            <div class="card">
                <div class="card-header bgm-cyan">
                    <h2>{{ 'title.account_activation'|trans|upper }}</h2>
                </div>
                <div class="card-body card-padding">
                    {% if app.session.flashBag.has('message') %}
                        {% for msg in app.session.flashBag.get('message') %}
                            <p>{{ msg }}</p>
                        {% endfor %}
                    {% endif %}
                    {% if app.session.flashBag.has('link') %}
                        {% for msg in app.session.flashBag.get('link') %}
                            <p><a class="c-cyan" href="{{ path('main_user_resend_activation', {'token': token}) }}">{{ msg }}</a></p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
