{% extends 'MainBundle:Email:base.html.twig' %}

{% trans_default_domain 'messages' %}

{% block subject %}
    {{ 'email.subject.invoice'|trans }}
{% endblock %}

{% block message %}
    <p>{{'email.general.hello'|trans }} {{ full_name }},
    <p>{{ 'email.message.invoice'|transchoice(payment, {'%payment%': payment}) }}</p>
{% endblock %}
